body {
  background-color: #020204;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  text-align: center;
}

.iconos {
  margin-top: 20px;
}

.iconos img {
  width: 10%;
  display: inline-block;
}

h1 {
  color: #ACACAC;
  margin-top: 75px;
  margin-bottom: 30px;
}

.gif-principal {
  width: 400px;
  margin-bottom: 50px;
}

.boton {
  background-color: #252525;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 30px;
  color: #9C9C9C;
  display: inline-block;
  margin-bottom: 20px;
}

.boton-inicio {
  background-color: #252525;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #9C9C9C;
  display: inline-block;
}
