body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #ffe8e3;
    margin: 0;
}

/*nav*/
nav {
    background-color: #DF92C1;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
}

nav a {
    background-color: #f5c9d2;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0px 5px 10px #df92c1;
}

nav a:hover {
    background-color: #e0a4b5;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: calc(100% - 20px);
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 10px 0 10px; 
    
}

td {
    vertical-align: top;
    width: 50%;
    border: 2px solid #cccccc; 
    padding: 10px;
    vertical-align: top; 
    
}

ul {
    padding-left: 25px;
    margin: 5px;
    text-align: left;
}

li {
    margin-bottom: 20px;
}

li section {
    margin-top: 10px;
    padding: 0%;
}

li img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 200px;
}

li img:hover {
    transform: scale(1.05) rotate(-2deg); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4); 
    cursor: pointer;
}

ol {
    margin: 5px 0;
    padding-left: 10px;
    padding-bottom: 0px;
    
}

/*footer*/
.footer-custom {
    background-color: #EFDCCB;
    margin-top: 0;
    padding: 0px;
    text-align: center;
    min-height: 80px;
}

.footer-col {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-top: 10px;
}

.footer-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-volver-arriba {
    display: inline-block;
    margin-top: 15px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-redes {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-img-x,
.footer-img-in {
    width: 50px;
    height: 50px;
}

.footer-img-ig {
    width: 60px;
    height: 60px;
}

.footer-img-x:hover,
.footer-img-in:hover,
.footer-img-ig:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.footer-col1 h3{
    align-items: center;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.footer-col2 h3,
.footer-col3 h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer-col1 p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0 0 10px 0;
    text-align: center;
}

.footer-col2 ul li {
    margin: 2px 0;
    padding: 0;
}

.footer-col2 ul li a {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

